<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-size: small">Home</ion-title>
    <ion-icon name="home-outline" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="info()" data-desc="Contact us">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="login()" data-desc="Login">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <form class="form" [formGroup]="deviceHistoryForm">
    <ion-item>
      <ion-input
        type="text"
        formControlName="search"
        placeholder="search using serial or imei #"
      ></ion-input>
      <ion-button
        type="submit"
        shape="round"
        (click)="search()"
        clear
        item-right
        >Search</ion-button
      >
    </ion-item>
  </form>

  <br />

  <ion-slides pager="true">
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="dark">
        <img src="../../assets/images/s1.png" />
        <h1>Buy or sell your devices</h1>
        <p style="font-size: small; text-align: center">
          As simple as 1 2 3...
        </p>
        <ion-button (click)="next()" fill="outline" color="dark"
          >Next</ion-button
        >
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="dark">
        <img src="../../assets/images/s4.png" />
        <h1>Recycle and repair devices</h1>
        <p style="font-size: small; text-align: center">
          Recycle your devices or get it repaired
        </p>
        <ion-button (click)="previous()" fill="outline" color="dark"
          >Previous</ion-button
        >
      </ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>
