<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-size: small">Seach device history </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="login()">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form class="form" [formGroup]="deviceHistoryForm">
    <ion-item>
      <ion-input
        type="text"
        formControlName="search"
        placeholder="search using serial/imei #"
      ></ion-input>
      <ion-button
        type="submit"
        shape="round"
        (click)="search()"
        clear
        item-right
        >Search</ion-button
      >
    </ion-item>
  </form>
  <br /><br /><br />
  <div class="articlez" *ngIf="articles && articles.length">
    <!-- List of Popular News  -->
    <ion-list no-lines *ngFor="let article of articles">
      <ion-item>
        <!-- Feature Image -->
        <ion-thumbnail class="picturez" item-start>
          <img src="../../assets/images/3.jpg" />
        </ion-thumbnail>
        <!-- Article Title -->
        <h2 text-wrap style="padding-left: 20px; font-size: 20px">
          {{article.title | slice:0:40}}
          <span *ngIf="article.title.length > 40">...</span>
        </h2>
        <!-- Created Date -->
        <p>
          <ion-icon name="timer" style="color: #d32f2f"></ion-icon>
          <span> &nbsp; {{ article.timestamp | date}}</span>
        </p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
