<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: small">Add device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="form" [formGroup]="deviceForm" (ngSubmit)="saveDevice()">
    <ion-item>
      <ion-label>Brand</ion-label>
      <ion-select placeholder="" (ionChange)="onBrandChanged($event)">
        <ion-select-option value="Sony">Sony</ion-select-option>
        <ion-select-option value="Samsung">Samsung</ion-select-option>
        <ion-select-option value="Iphone">Iphone</ion-select-option>
        <ion-select-option value="Huawei">Huawei</ion-select-option>
        <ion-select-option value="Nokia">Nokia</ion-select-option>
        <ion-select-option value="Oppo">Oppo</ion-select-option>
        <ion-select-option value="Vivo">Vivo</ion-select-option>
        <ion-select-option value="One Plus">One Plus</ion-select-option>
        <ion-select-option value="Hisense">Hisense</ion-select-option>
        <ion-select-option value="Motorola">Motorola</ion-select-option>
        <ion-select-option value="Honor">Honor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Warranty</ion-label>
      <ion-select placeholder="" (ionChange)="onDeviceWarantee($event)">
        <ion-select-option value="OUT OF WARANTY"
          >Out of warranty</ion-select-option
        >
        <ion-select-option value="6 MONTHS">6 Months</ion-select-option>
        <ion-select-option value="12 MONTHS">12 Months</ion-select-option>
        <ion-select-option value="2 YEARS">2 Years</ion-select-option>
        <ion-select-option value="3 YEARS">3 Years</ion-select-option>
        <ion-select-option value="5 YEARS">5 Years</ion-select-option>
        <ion-select-option value="5 YEARS PLUS">5 Years Plus</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Condition</ion-label>
      <ion-select placeholder="" (ionChange)="onConditionChanged($event)">
        <ion-select-option value="New">New</ion-select-option>
        <ion-select-option value="Used-New">Used - Like New</ion-select-option>
        <ion-select-option value="Used-Good">Used - Good</ion-select-option>
        <ion-select-option value="Used-Fair">Used- Fair</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Unlink device</ion-label>
      <ion-select placeholder="" (ionChange)="onUnlinkDevice($event)">
        <ion-select-option value="STOLEN">Stolen</ion-select-option>
        <ion-select-option value="LOST">Lost</ion-select-option>
        <ion-select-option value="SOLD">Sold</ion-select-option>
        <ion-select-option value="NO LONGER IN MY USE"
          >No longer in my use</ion-select-option
        >
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label>Is device for sale</ion-label>
      <ion-select placeholder="" (ionChange)="onIsForSaleChanged($event)">
        <ion-select-option value="Yes">Yes</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Model</ion-label>
      <ion-input type="text" formControlName="deviceModel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">IMEI</ion-label>
      <ion-input
        type="text"
        formControlName="imei"
        class="form-controll"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input
        type="text"
        formControlName="description"
        class="form-controll"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date Purchased</ion-label>
      <ion-datetime
        displayFormat="MM/DD/YYYY"
        min="1994-03-14"
        formControlName="datePurchased"
        value="2002-09-23T15:03:46.789"
      ></ion-datetime>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="address" class="form-controll"></ion-input>
    </ion-item>

    <ion-item *ngIf="selectedDocumentType === 'cert'">
      <ion-label position="floating">Reference</ion-label>
      <ion-input type="text"  formControlName="referenceNumber" class="form-controll"></ion-input>
    </ion-item> -->

    <ion-button type="submit" expand="block" [disabled]="!deviceForm.valid">
      Submit and take a picture
    </ion-button>
  </form>
</ion-content>
