<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: small">Edit device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="form" [formGroup]="deviceForm" (ngSubmit)="updateDevice()">
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select
        placeholder=""
        [(ngModel)]="type"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="onTypeChanged($event)"
      >
        <ion-select-option [value]="type" *ngFor="let type of types">
          {{type}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isElectrical">
      <ion-label>Category</ion-label>
      <ion-select
        placeholder=""
        [(ngModel)]="electricalSub"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="onElectricalSubCategoryChanged($event)"
      >
        <ion-select-option
          [value]="electricalSub"
          *ngFor="let electricalSub of electricalSubs"
        >
          {{electricalSub}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isElectrical === false">
      <ion-label>Category</ion-label>
      <ion-select
        placeholder=""
        [(ngModel)]="electronicSub"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="onElectronicSubCategoryChanged($event)"
      >
        <ion-select-option
          [value]="electronicSub"
          *ngFor="let electronicSub of electronicSubs"
        >
          {{electronicSub}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isElectrical">
      <ion-label>Brand</ion-label>
      <ion-select
        placeholder=""
        [(ngModel)]="elecBrand"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="onBrandElectricalChanged($event)"
      >
        <ion-select-option
          [value]="elecBrand"
          *ngFor="let elecBrand of electricalBrands"
        >
          {{elecBrand}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isElectrical === false">
      <ion-label>Brand</ion-label>
      <ion-select
        placeholder=""
        [(ngModel)]="brand"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="onBrandElectronicChanged($event)"
      >
        <ion-select-option [value]="brand" *ngFor="let brand of brands">
          {{brand}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Condition</ion-label>
      <ion-select
        placeholder=""
        [(ngModel)]="condition"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="onConditionChanged($event)"
      >
        <ion-select-option
          [value]="condition"
          *ngFor="let condition of conditions"
        >
          {{condition}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Unlink device</ion-label>
      <ion-select
        placeholder=""
        [(ngModel)]="unlinkdevice"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="onUnlinkDevice($event)"
      >
        <ion-select-option
          [value]="unlinkdevice.value"
          *ngFor="let unlinkdevice of unlinkdevices"
        >
          {{unlinkdevice.text}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Model</ion-label>
      <ion-input type="text" formControlName="deviceModel"></ion-input>
    </ion-item>

    <ion-item *ngIf="isMobile === true">
      <ion-label position="floating">IMEI</ion-label>
      <ion-input
        type="text"
        formControlName="imei"
        class="form-controll"
        readonly="readonly"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Serial</ion-label>
      <ion-input
        type="text"
        formControlName="serial"
        class="form-controll"
        readonly="readonly"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input
        type="text"
        formControlName="description"
        class="form-controll"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date Purchased</ion-label>
      <ion-datetime
        displayFormat="MM/DD/YYYY"
        min="1994-03-14"
        formControlName="datePurchased"
        value="2002-09-23T15:03:46.789"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Warranty</ion-label>
      <ion-select
        placeholder=""
        [(ngModel)]="warranty"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="onDeviceWarantee($event)"
      >
        <ion-select-option
          [value]="warranty.value"
          *ngFor="let warranty of warrantees"
        >
          {{warranty.text}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item hidden>
      <ion-radio formControlName="isUpdate"></ion-radio>
    </ion-item> -->

    <!-- <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="address" class="form-controll"></ion-input>
    </ion-item>

    <ion-item *ngIf="selectedDocumentType === 'cert'">
      <ion-label position="floating">Reference</ion-label>
      <ion-input type="text"  formControlName="referenceNumber" class="form-controll"></ion-input>
    </ion-item> -->

    <ion-button type="submit" expand="block"> Update </ion-button>
  </form>
</ion-content>
